<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">

  <!-- SCRIPTS -->
  <script>document.documentElement.className="js";</script>
  <!-- GSAP library -->
  <script src="assets/js/gsap.min.js"></script>

  <!-- SplitType for text manipulation: https://github.com/lukePeavey/SplitType -->
  <script src="assets/js/split-type.min.js"></script>

  <!-- Scripts for the text effect -->
  <script type="module" src="assets/js/text-effect/index.js"></script>

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {%-seo title=false-%}
  {%-feed_meta-%}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />

  <!-- <link rel="stylesheet" href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" /> -->
</head>